{# templates/customer/show.html.twig #}

<h1>Customers Details</h1>
<p><strong>Name:</strong> {{ customers.firstName }} {{ customers.lastName }}</p>
<p><strong>Email:</strong> {{ customers.email }}</p>
<p><strong>Username :</strong> {{ customers.username }}</p>
<p><strong>Gender:</strong> {{ customers.gender }}</p>
<p><strong>Nationality/Country:</strong> {{ customers.nationality }}</p>
<p><strong>Phone:</strong> {{ customers.phone }}</p>
